# Distribution / packaging
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
__pycache__/
crypto_automation.egg-info/
code/crypto_automation/log/*.log
code/crypto_automation/log/images/*